@model InternalProject1.Models.Employee

<h1>
    Information Page for Employee @Model.Name
</h1>
<h2>
    Click on an element to edit it!
</h2>
<div class="col-md-6">
    <a> 
        @Html.ActionLink("Import to Excel",
        "Edit",
        "Home",
        new{Id = Model.Id},
        new  { @class = "btn btn-primary"}
        )
    </a>
</div>
